services:
  - type: web
    name: hg-abogados-ia
    env: python
    region: oregon
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      playwright install --with-deps
    startCommand: gunicorn -k uvicorn.workers.UvicornWorker main:app
    autoDeploy: true
    envVars:
      - key: FIELWEB_USERNAME
        value: consultor@hygabogados.ec
      - key: FIELWEB_PASSWORD
        value: consultor@hygabogados.ec
      - key: FIELWEB_LOGIN_URL
        value: https://www.fielweb.com/Cuenta/Login.aspx
      - key: X_API_KEY
        value: HYGABOGADOS-SECURE-2025
